<app-page-header></app-page-header>

<!-- start preloader -->
<div class="preloader">
  <div class="sk-spinner sk-spinner-three-bounce">
    <div class="sk-bounce1"></div>
    <div class="sk-bounce2"></div>
    <div class="sk-bounce3"></div>
  </div>
</div>
<!-- end preloader -->

<!---main-->
<section id="countdown">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="wow bounceIn" data-wow-delay="0.9s">Volejbal Benešov</h1>
        <h2 class="element">
          <span
            class="sub-element">Vítejte na stránkách volejbalového klubu <strong>TJ&nbsp;Sokol Benešov u Prahy</strong></span>
        </h2>

        <!-- Edit js/init.js file for the date and time -->

        <ul class="countdown">
          <li>
            <span class="days">365</span>
            <h3>Days</h3>
          </li>
          <li>
            <span class="hours">24</span>
            <h3>Hours</h3>
          </li>
          <li>
            <span class="minutes">59</span>
            <h3>Minutes</h3>
          </li>
          <li>
            <span class="seconds">59</span>
            <h3>Seconds</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container main-content">
    <div class="row news">
      <div class="col-md-6 col-sm-6 pb-3">
        <app-cms-message style="display: contents"
                         [date]="'28.8.2020'"
                         [title]="'Jdeme do sezóny v nových dresech'"
                         [image]="'assets/img/dress2.svg'"
        >
          Letos budeme začínat soutěž v nových dresech. Věříme že nám sednou stejně dobře jako zápasy v druhé lize a
          přinesou nám štěstí.
        </app-cms-message>
      </div>
      <div class="col-md-6 col-sm-6">
        <app-cms-message style="display: contents" class="col-md-6 col-sm-6"
                         [date]="'16.2.2020'"
                         [title]="'Smutná zpráva'"
                         [image]="'assets/img/cross.svg'"
        >
          Smutná zpráva benešovského volejbalu. Se zármutkem v našich volejbalových srdcích Vám oznamujeme, že z
          našich řad odešli Jiří Kosík a Viktor Jiráček senior. <a href="#articles1">Celá zpráva...</a>
        </app-cms-message>
      </div>
    </div>
  </div>
</section>
<!---end main-->

<!-- start features -->
<section class="features text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title wow bounceIn">
          <h2>Přehled</h2>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
          <i class="fa fa-icon fa-cup"></i>
          <h4 class="text-uppercase">Soutěž</h4>
          <p>V sezóně 2020/2021 hrajeme 2.ligu (2-M-B).</p>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
          <i class="fa fa-icon fa-location"></i>
          <h4 class="text-uppercase">Kde hrajeme</h4>
          <p>Sportovní hala ZŠ Jiráskova, Jiráskova 888, Benešov, (pondělí Sokolovna, Tyršova 438).</p>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
          <i class="fa fa-icon fa-net"></i>
          <h4 class="text-uppercase">Tréninky</h4>
          <p>Každé pondělí od 19:30-21:30 a středu od 20:00-22:00.</p>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
          <i class="fa fa-icon fa-ball"></i>
          <h4 class="text-uppercase">Přidej se k nám</h4>
          <p>Pokuď už jsi to někdy hrál a máš chuť, přidej se k nám. Přijď se podívat na trénink.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end features -->

<!-- start team -->
<section class="team">
  <div class="container" id="team">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title wow bounceIn">
          <h2>Náš tým</h2>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/bartusekjan.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Bartůšek Jan</h4>
            <h5>Smečař</h5>
            <div>Ročník 1993</div>
            <div><a href="https://www.facebook.com/jan.bartusek.1"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/bartusekj.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Bartůšek Josef</h4>
            <h5>Smečař, univerzál</h5>
            <div>Ročník 1987</div>
            <div><a href="https://www.facebook.com/pepa.bartusek.5"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/bohac.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Boháč Martin</h4>
            <h5>Smečař</h5>
            <div>Ročník 1981</div>
            <div>Výška 189 cm</div>
            <div><a href="https://www.facebook.com/profile.php?id=1177376910"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/hlavnicka.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Hlavnička Jiří</h4>
            <h5>Nahrávač</h5>
            <div>Ročník 1982</div>
            <div><a href="https://www.facebook.com/jiri.hlavnicka.9"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/martin-janak.jpg" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Janák Martin</h4>
            <h5>Libero</h5>
            <div>Ročník 1985</div>
            <div><a href="https://www.facebook.com/martin.janak.12"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/koci.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Kočí Petr</h4>
            <h5>Blokař, trenér</h5>
            <div>Ročník 1981</div>
            <div><a href="https://www.facebook.com/petr.koci.75"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s" style="clear: both">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/kunc.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Kunc Martin</h4>
            <h5>Univarzál, blokař, libero</h5>
            <div>Ročník 1981</div>
            <div>Výška 189 cm</div>
            <div><a href="https://www.facebook.com/kivik"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/kyselka.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Kyselka Jan</h4>
            <h5>Blokař</h5>
            <div>Ročník 1985</div>
            <div><a href="https://www.facebook.com/jan.kyselka.39"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/lang.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Lang Michal</h4>
            <h5>Libero, smečař, univerzál</h5>
            <div>Ročník 1984</div>
            <div><a href="https://www.facebook.com/michal.lang.18"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/rehak.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Řehák Petr</h4>
            <h5>Smečař</h5>
            <div>Ročník 1974</div>
            <div>Výška 190 cm</div>
            <div>Dosah 330 cm</div>
            <div><a href="https://www.facebook.com/profile.php?id=100007576965329"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s" style="clear: both">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/votruba.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Votruba Viktor</h4>
            <h5>Blokař, asistent trenéra</h5>
            <div>Ročník 1977</div>
            <div><a href="https://www.facebook.com/viktor.votruba.5"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/no-person.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Janák Michal</h4>
            <h5>Nahrávač</h5>
            <div>Ročník 1985</div>
            <div><a href="https://www.facebook.com/michal.janak.96"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/no-person.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Hájek Michal</h4>
            <h5>Blokař</h5>
            <div>Ročník 1987</div>
            <div><a href="https://www.facebook.com/michal.hajek.50"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/no-person.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Kysela Ondřej</h4>
            <h5>Univerál, libero</h5>
            <div>Ročník 1991</div>
            <div><a href="https://www.facebook.com/ondrej.kysela.7"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_right wow fadeIn" data-wow-delay="0.6s" style="clear: both">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/players/no-person.png" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Šupka Matěj</h4>
            <h5>Smečař</h5>
            <div>Ročník 2001</div>
            <div><a href="https://www.facebook.com/matej.supka.5"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- end team -->

<!-- start events -->
<section class="events">
  <div class="container" id="events">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title wow bounceIn">
          <h2>Zápasy</h2>
        </div>
      </div>
      <div class="col-md-12 text-center" style="padding-bottom: 20px">
        <a href="http://www.cvf.cz/souteze/soutez/?soutez=2-m&skupina=2-m-b&sezona=2020%2F21">rozpis na cvf.cz</a>
      </div>
      <div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/calendar.svg" class="img-circle img-responsive" alt="event img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">Hronov : <strong>Benešov</strong></h4>
            <h5>3.10.2020</h5>
            <div>Hronov</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 border_bottom wow fadeIn" data-wow-delay="0.6s">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/calendar.svg" class="img-circle img-responsive" alt="event img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase"><strong>Benešov</strong> : M. Hradiště</h4>
            <h5>17.10.2020</h5>
            <div>Domácí zápas</div>
            <div><a href="https://www.facebook.com/events/314490516274104/?acontext=%7B%22source%22%3A5%2C%22action_history%22%3A[%7B%22surface%22%3A%22page%22%2C%22mechanism%22%3A%22main_list%22%2C%22extra_data%22%3A%22%5C%22[]%5C%22%22%7D]%2C%22has_source%22%3Atrue%7D" target="_blank"><img src="assets/img/facebook2.svg" alt="facebook"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end events -->

<!-- cms -->
<section class="team articles">
  <div class="container" id="articles">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title wow bounceIn">
          <h2>Články</h2>
        </div>
      </div>
      <div class="col-md-12 text-center">
        Články o našem volejbale můžete také najít na stránkách
        <a href="http://benesovsky.denik.cz/">Benešovského deníku</a> v rubrice
        <a href="http://benesovsky.denik.cz/ostatni_region/"> sport</a>.
      </div>
      <div class="col-md-12 col-sm-12 border_bottom wow fadeIn" data-wow-delay="0.6s" id="articles1">
        <div class="media">
          <div class="pull-left media-object">
            <img src="assets/img/cross.svg" class="img-circle img-responsive" alt="team img">
          </div>
          <div class="media-body">
            <h4 class="media-heading text-uppercase">
              Vážení přátelé benešovského volejbalu. Se zármutkem v našich volejbalových srdcích Vám oznamujeme, že z
              našich řad odešli Jiří Kosík a Viktor Jiráček senior.</h4>
            <h5>16.2.2020</h5>
            <p>
              <strong>Jiří Kosík</strong> (12.2.2020 - nedožitých 73 let). Byl dlouholetým členem volejbalového oddílu
              TJ Lokomotiva
              Benešov (později
              TJ ČSAD Benešov) od roku 1960 do roku 1980 jako aktivní hráč. Později do roku 1990 jako řadový člen
              oddílu. V civilním
              životě začínal po vyučení dřevomodelářem v Blanických strojírnách Vlašim jako zaměstnanec v truhlárně
              Železničního
              stavitelství Benešov, později jako mistr v truhlářské dílně, hlavní mistr v učilišti ŽS Benešov a po
              vzniku Středního
              odborného učiliště stavebního Benešov byl později jmenován do funkce ředitele, ve které pracoval až do
              roku 2012 kdy
              odešel do důchodu.
              <br>
              <strong>Viktor Jiráček senior</strong> (15.2.2020 - nedožitých 88 let). Byl dlouholetým členem
              volejbalového oddílu TJ
              Slavoj Benešov
              (později TJ Lokomotiva Benešov, TJ ČSAD Benešov a TJ Sokol Benešov) od roku 1953 do roku 1989 jako aktivní
              hráč a
              kapitán mužstva mužů. Později do roku 2018 postupně jako trenér družstva mužů a žen a také jako trenér
              mládeže.
              Současně byl také vedoucím mužstva mužů a žen. Ve výkonném výboru TJ Sokol Benešov vykonával funkci
              hospodáře. V
              civilním životě začínal v zahradnictví svých rodičů na pozemcích dnešní ZŠ v Dukelské ulici, které později
              sám
              provozoval až do roku cca 1970, kdy byla zahájena výstavby základní školy. Přijal nabídku pracovat jako
              vedoucí v
              zahradnictví Komunálních služeb Benešov, které se nacházelo v lokalitě Zimního stadionu Benešov a kde
              pracoval až do
              odchodu do důchodu. Ani potom práce na zahradě neopustil a věnoval se soukromé zahrádce Na Sladovce a
              především
              činnosti ve volejbalovém oddílu. Poslední dva roky začali Viktora limitovat potíže s pohybovým ústrojím,
              které
              ukončili jeho bohatou, pestrou a oblíbenou činnost na poli sportovním a práce na zahradě. Na oba budeme
              vzpomínat -
              oddíl volejbalu TJ Sokol Benešov.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- start contact -->
<section class="contact">
  <div class="container" id="contact">
    <div class="row">
      <div class="col-md-12">
        <div class="title wow bounceIn">
          <h2>Kontakt</h2>
        </div>
      </div>
      <!--<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.6s">
        <div class="contact-form">
          &lt;!&ndash;<form action="#" method="post">
            <input type="text" class="form-control" placeholder="Name">
            <input type="email" class="form-control" placeholder="Email">
            <input type="text" class="form-control" placeholder="Subject">
            <textarea class="form-control" rows="4" placeholder="Message"></textarea>
            <input type="submit" class="form-control" value="SEND MESSAGE">
          </form>&ndash;&gt;
        </div>
      </div>-->
      <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.6s">
        <address>
          <div>
            <div class="fa fa-ball fa-icon-contacts"></div>
            <div>TJ Sokol Benešov u Prahy</div>
          </div>
          <div>
            <div class="fa fa-hall fa-icon-contacts"></div>
            <div>Sportovní hala ZŠ Jiráskova</div>
          </div>
          <div>
            <div class="fa fa-location fa-icon-contacts"></div>
            <div>Jiráskova 888, Benešov 25601</div>
          </div>
        </address>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.6s">
        <address>
          <div>
            <div class="fa fa-email fa-icon-contacts"></div>
            <div>bene.volej@seznam.cz</div>
          </div>
          <div>
            <div class="fa fa-phone fa-icon-contacts"></div>
            <div>+420 775 358 293</div>
          </div>
          <div>
            <div class="fa fa-facebook fa-icon-contacts"></div>
            <div><a href="https://www.facebook.com/volejbalbenesov">Najdete nás také na Facebooku</a></div>
          </div>
        </address>
      </div>
    </div>
  </div>
</section>

<!-- end contact -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="templatemo-copyright">Created by Martin Boháč - 2020</p>
        <ul class="social_icon partners-icons">
          <li><a href="#"><img src="assets/img/partners/equabank.png" alt="equabank"></a></li>
          <li><a href="#"><img src="assets/img/partners/fitboss.png" alt="fitboss"></a></li>
          <li><a href="#"><img src="assets/img/partners/logo_pata.png" alt="Město Benešov"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
