<app-page-header></app-page-header>

<!-- start preloader -->
<div class="preloader">
  <div class="sk-spinner sk-spinner-three-bounce">
    <div class="sk-bounce1"></div>
    <div class="sk-bounce2"></div>
    <div class="sk-bounce3"></div>
  </div>
</div>
<!-- end preloader -->

<!---main-->
<section id="countdown">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="wow bounceIn" data-wow-delay="0.9s">Volejbal Benešov</h1>
        <h2 class="element">
          <span
            class="sub-element">Vítejte na stránkách volejbalového klubu <strong>TJ&nbsp;Sokol Benešov u Prahy</strong></span>
        </h2>

        <!-- Edit js/init.js file for the date and time -->
        <div class="countdown-title">Příští zápas začíná za:</div>

        <ul class="countdown">
          <li>
            <span class="days">{{days}}</span>
            <h3>{{daysText}}</h3>
          </li>
          <li>
            <span class="hours">{{hours}}</span>
            <h3>{{hoursText}}</h3>
          </li>
          <li>
            <span class="minutes">{{minutes}}</span>
            <h3>{{minutesText}}</h3>
          </li>
          <li>
            <span class="seconds">{{seconds}}</span>
            <h3>{{secondsText}}</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container main-content">
    <div class="row news">
      <div class="col-md-6 col-sm-6 pb-3">
        <app-cms-message style="display: contents" *ngIf="sortArticles[0] as article1"
                         [date]="article1.date"
                         [title]="article1.shortTitle || article1.title"
                         [image]="article1.imageUrl"
        >
          {{article1.shortTitle ? article1.title : article1.description}} <a [attr.href]="'#' + article1.target" *ngIf="article1.target">Celá zpráva...</a>
        </app-cms-message>
      </div>
      <div class="col-md-6 col-sm-6">
        <app-cms-message style="display: contents" class="col-md-6 col-sm-6" *ngIf="sortArticles[1] as article2"
                         [date]="article2.date"
                         [title]="article2.shortTitle || article2.title"
                         [image]="article2.imageUrl"
        >
          {{article2.shortTitle ? article2.title : article2.description}} <a [attr.href]="'#' + article2.target" *ngIf="article2.target">Celá zpráva...</a>
        </app-cms-message>
      </div>
    </div>
  </div>
</section>
<!---end main-->

<!-- start features -->
<section class="features text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title wow bounceIn">
          <h2>Přehled</h2>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
          <i class="fa fa-icon fa-cup"></i>
          <h4 class="text-uppercase">Soutěž</h4>
          <p>V sezóně 2022/2023 hrajeme <strong>krajský přebor I. třídy mužů.</strong>
            (<a href="https://www.cvf.cz/souteze/soutez/?soutez=ST-M-1&sezona=2022%2F23">ST-M-1</a>).
          </p>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
          <i class="fa fa-icon fa-location"></i>
          <h4 class="text-uppercase">Kde hrajeme</h4>
          <p>Sportovní hala ZŠ Jiráskova, Jiráskova 888, Benešov, (pondělí Sokolovna, Tyršova 438).</p>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
          <i class="fa fa-icon fa-net"></i>
          <h4 class="text-uppercase">Tréninky</h4>
          <p>Každé pondělí od 19:30-21:30 a středu od 19:30-21:30.</p>
        </div>
        <div class="col-md-3 col-sm-6 wow fadeInUp templatemo-feature" data-wow-delay="0.6s">
          <i class="fa fa-icon fa-ball"></i>
          <h4 class="text-uppercase">Přidej se k nám</h4>
          <p>Pokuď už jsi to někdy hrál a máš chuť, přidej se k nám. Přijď se podívat na trénink.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end features -->

<!-- start team -->
<section class="team">
  <div class="container" id="team">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title wow bounceIn">
          <h2>Náš tým</h2>
        </div>
      </div>

      <app-team-player *ngFor="let item of players; let even = even" [player]="item" [even]="even"></app-team-player>

    </div>
  </div>
</section>
<!-- end team -->

<!-- start events -->
<section class="events">
  <div class="container" id="events">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title wow bounceIn">
          <h2>Zápasy</h2>
        </div>
      </div>
      <div class="col-md-12 text-center" style="padding-bottom: 20px">
        <a href="https://www.cvf.cz/souteze/soutez/?soutez=ST-M-1&sezona=2022%2F23">Rozpis všech zápasů a tabulka na cvf.cz</a>
      </div>
      <app-team-event *ngFor="let item of teamEvents; let even = even" [teamEvent]="item" [even]="even"></app-team-event>
    </div>
  </div>
</section>
<!-- end events -->

<!-- cms -->
<section class="team articles">
  <div class="container" id="articles">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title wow bounceIn">
          <h2>Články</h2>
        </div>
      </div>
      <div class="col-md-12 text-center" style="padding-bottom: 20px;">
        Články o našem volejbale můžete také najít na stránkách
        <a href="http://benesovsky.denik.cz/">Benešovského deníku</a> v rubrice
        <a href="http://benesovsky.denik.cz/ostatni_region/"> sport</a>.
      </div>
      <app-team-article *ngFor="let item of teamArticles" [article]="item"></app-team-article>
    </div>
  </div>
</section>

<!-- start contact -->
<section class="contact">
  <div class="container" id="contact">
    <div class="row">
      <div class="col-md-12">
        <div class="title wow bounceIn">
          <h2>Kontakt</h2>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.6s">
        <address>
          <div>
            <div class="fa fa-ball fa-icon-contacts"></div>
            <div>TJ Sokol Benešov u Prahy</div>
          </div>
          <div>
            <div class="fa fa-hall fa-icon-contacts"></div>
            <div>Sportovní hala ZŠ Jiráskova</div>
          </div>
          <div>
            <div class="fa fa-location fa-icon-contacts"></div>
            <div>Jiráskova 888, Benešov 25601</div>
          </div>
        </address>
      </div>
      <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.6s">
        <address>
          <div>
            <div class="fa fa-email fa-icon-contacts"></div>
            <div>bene.volej@seznam.cz</div>
          </div>
          <div>
            <div class="fa fa-phone fa-icon-contacts"></div>
            <div>+420 775 358 293</div>
          </div>
          <div>
            <div class="fa fa-facebook fa-icon-contacts"></div>
            <div><a href="https://www.facebook.com/volejbalbenesov">Najdete nás také na Facebooku</a></div>
          </div>
        </address>
      </div>
    </div>
  </div>
</section>

<!-- end contact -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="templatemo-copyright">Created by Martin Boháč - 2020</p>
        <ul class="social_icon partners-icons">
          <li><a href="#"><img src="assets/img/partners/equabank.png" alt="equabank"></a></li>
          <li><a href="#"><img src="assets/img/partners/fitboss.png" alt="fitboss"></a></li>
          <li><a href="#"><img src="assets/img/partners/logo_pata.png" alt="Město Benešov" title="Město Benešov"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
