<div class="col-md-6 col-sm-6 border_right border_bottom wow fadeIn" data-wow-delay="0.6s">
  <div class="media">
    <div class="pull-left media-object">
      <img src="images/team_img_1.jpg" class="img-circle img-responsive" alt="team img">
    </div>
    <div class="media-body">
      <h4 class="media-heading text-uppercase">Jdeme do sezóny v nových dresech</h4>
      <h5>27.08.2020</h5>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
