/* You can add global styles to this file, and also import other style files */
@import "./styles/icons";

body {
  margin: 0;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.menu-title {
  color: #FFDF1B;
  padding-left: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
}

.menu-logo {
  height: 35px;
}

.news {
  text-align: initial;
  padding-top: 60px;
  color: black;
}

.news h5 {
  color: darkgray;
}

.media-object img {
  width: 60px;
}

.team .media-object img {
  width: 150px;
}

.team .media-body img {
  padding-top: 5px;
  height: 25px;
}

.events .media-body img {
  height: 25px;
}

.main-content a:hover {
  color: darkgray;
}

.main-content a, .events a, .articles a {
  color: #000;
  font-weight: 500;
}

.articles img {
  padding-bottom: 10px;
}

.contact a {
  color: #fff;
}

.events {
  border-top: 1px solid #f2f2f2;
  padding-top: 100px;
  padding-bottom: 100px;
}

.events h5 {
  color: #FFDF1B;
  font-weight: bold;
}

.events .media {
  border-radius: 5px;
  padding: 20px;
  border: 1px solid lightgray;
  min-height: 121px;
}

.team-events .home-event {
  color: #34A853;
  font-weight: 500;
}

.clear-both {
  clear: both;
}

h5 {
  letter-spacing: 1px;
}

.partners-icons img {
  height: 20px;
}

.partners-icons li {
  padding: 0 10px;
}

.cms .media {
  padding: 40px 0 20px 20px;
}

.topnav .big-menu a {
  padding: 0 !important;
}

.fa-cup {
  background-image: url("assets/img/cup.svg");
}

.fa-net {
  background-image: url("assets/img/net.svg");
}

.fa-location {
  background-image: url("assets/img/location.svg");
}

.fa-ball {
  background-image: url("assets/img/ball.svg");
}

.fa-hall {
  background-image: url("assets/img/hall.svg");
}

.fa-phone {
  background-image: url("assets/img/phone.svg");
}

.fa-email {
  background-image: url("assets/img/email.svg");
}

.fa-facebook {
  background-image: url("assets/img/facebook.svg");
}

.fa-icon {
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

.fa-icon-contacts {
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.contact address > div {
  display: flex;
  margin-bottom: 20px;
}

.contact address > div .fa {
  margin-bottom: 0;
}

.contact address > div > div {
  align-self: center;
}

@media only screen and (max-width: 767px) {
  .cms .media {
    padding-top: 5px;
  }
}
