/* You can add global styles to this file, and also import other style files */
@import "./styles/icons";

body {
  margin: 0;
  font-size: 16px;
}

.menu-title {
  color: #FFDF1B;
  padding-left: 10px;
  font-weight: bold;
}

.menu-logo {
  height: 35px;
}

.news {
  text-align: initial;
  padding-top: 60px;
  color: black;
}

.news h5 {
  color: darkgray;
}

.media-object img {
  width: 60px;
}

.cms .media {
  padding: 40px 0 20px 20px;
}

.topnav .big-menu a {
  padding: 0 !important;
}

.fa-cup {
  background-image: url("assets/img/cup.svg");
}

.fa-net {
  background-image: url("assets/img/net.svg");
}

.fa-location {
  background-image: url("assets/img/location.svg");
}

.fa-ball {
  background-image: url("assets/img/ball.svg");
}

.fa-icon {
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 767px) {
  .cms .media {
    padding-top: 5px;
  }
}
