/* Style the navigation menu */
.topnav {
  overflow: hidden;
  // background-color: #111103;
  position: relative;
  // box-shadow: 0 1px gray;
  color: white;
  // padding: 14px 16px;
  text-decoration: none;
  background-color: #000;
}

/* Hide the links inside the navigation menu (except for logo/home) */
/*.topnav #myLinks {
  display: none;
}*/

/* Style navigation menu links */
.topnav a, .topnav .logo {
  color: white;
  padding: 19px 22px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  // background: black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  // background-color: #3333E1;
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #E0C631;
  color: white;
}

.page-container {
  width: 576px;
  margin: 0 auto;
}

.content {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
}

.menu-icon {
  height: 20px;
}

.small-menu {
  display: none;
}

.big-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.big-menu div {
  padding: 0 5px;
}

.col-title {
  flex-grow: 1;
}

@media only screen and (max-width: 576px) {
  .small-menu {
    display: block;
  }
  .topnav a.icon {
    display: block;
  }
  .big-menu {
    display: none;
  }
}
