<!-- Top Navigation Menu -->
<div class="topnav">
  <div class="container">
    <div class="content">
      <div class="col-title">
        <img src="./assets/img/logo.png" alt="logo" class="menu-logo">
        <span class="menu-title">TJ Sokol Benešov u Prahy</span>
      </div>
      <div class="big-menu">
        <div>Články</div>
        <div>|</div>
        <div>Tým</div>
        <div>|</div>
        <div>Zápasy</div>
        <div>|</div>
        <div>Kontakt</div>
      </div>
    </div>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks" *ngIf="showMenu" class="small-menu">
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" (click)="toggleMenu()">
    <img src="./assets/icons/menu.svg" alt="menu" class="menu-icon">
  </a>
</div>
