<!-- Top Navigation Menu -->
<div style="height: 67px"></div>
<div class="topnav">
  <div class="container">
    <div class="content">
      <div class="col-title">
        <img src="./assets/img/logo.png" alt="logo" class="menu-logo">
        <span class="menu-title">TJ Sokol Benešov u Prahy</span>
      </div>
      <div class="big-menu">
        <div><a href="#articles">Články</a></div>
        <div>|</div>
        <div><a href="#team">Tým</a></div>
        <div>|</div>
        <div><a href="#events">Zápasy</a></div>
        <div>|</div>
        <div><a href="#contact">Kontakt</a></div>
      </div>
    </div>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks" *ngIf="showMenu" class="small-menu">
      <a href="#articles" (click)="toggleMenu()">Články</a>
      <a href="#team" (click)="toggleMenu()">Tým</a>
      <a href="#events" (click)="toggleMenu()">Zápasy</a>
      <a href="#contact" (click)="toggleMenu()">Kontakt</a>
    </div>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" (click)="toggleMenu()">
    <img src="./assets/icons/menu.svg" alt="menu" class="menu-icon">
  </a>
</div>
